html, body{
  font-family: Arial, sans-serif;
  margin: 0;
}

header{
  background-color: #939aa2;
  padding: 35px;
  text-align: center;
}

h1{
  font-size: 90px;
  color: #ffea97;
}

header img{
  border-radius: 200px 60px;
  max-height: 350px;
  max-width: 100%;
  border: 15px solid #f14951;
}

img.big-image{
  border: 10px solid #f14951;
  border-radius: 200px;
  max-width: 100%;
  margin: 30px 0px 10px 0px;
}

.content{
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

p.caption{
  font-size: 16px;
  color: lightgrey;
  font-style: italic;
}

ul{
  list-style:unset;
  padding: 0;
  margin: 0px 0px 20px 0px;
}

li{
  margin: 0 20px;
}

a{
  text-decoration: none;
}

footer{
  padding: 40px 20px;
  background-color: #c9c9c9;
}
